/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100;300&display=swap');

/* overrides default styles set by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #eee3e3;
    font-family: 'roboto', sans-serif;
}

h2, h3 {
    font-family: 'muli', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Class to create visual page cue in navbar */
.active {
    border-bottom: 1px solid #eee3e3;
}

/* Header */
header {
    background-color: #000000;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #4b4b4b;
}

#logo {
    font-family: 'cuprum', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 200%;
    letter-spacing: 3px;
}

header a {
    text-decoration: none;
}

#insignia-header {
    width: 25px;
    height: 25px;
    margin-left: 0.5rem;
}

header h1, header img {
    display: inline;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1rem;
    font-weight: 100;
}

#menu a {
    color: #eee3e3;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0;
    padding: 0 0.5rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* takes up surplus space and pushes footer to bottom of page */
    flex: 1 0 auto;
    /* Push main content down under header */
    margin-top: 39px;
}

/* background image */
#background {
    height: 100vh;
    width: 100%;
    background: url(../images/background.jpg) no-repeat center center/cover;
    position: fixed;
    z-index: -1;
}

/* Introduction Section */
#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction>p {
    text-align: center;
    margin: 3rem 2rem 2rem;
    font-size: 90%;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
}

#intro-video {
    width: 80%;
    height: 70%;
    max-width: 800px;
    max-height: 500px;
}

/* Timeline Section */

#timeline {
    margin: 3rem 0;
}

#timeline div, h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#timeline p {
    font-size: 90%;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 5px;
    border-radius: 7px;
}

#timeline img {
    width: 80%;
    border-radius: 7px;
    box-shadow: 3px 8px 10px #1a1919;
    margin: 1rem 0 1rem;
}

/* Pre-Launch Section */
#pre-launch {
    margin: 2rem 2rem;
}

/* Launch Day Section */
#launch-day {
    margin: 2rem 2rem;
}

/* Lunar Orbit Section */
#lunar-orbit {
    margin: 2rem 2rem;
}

/* Moon Landing Sections */
#moon-landing {
    margin: 2rem 2rem;
}

/* Moon Walk Section */
#moon-walk {
    margin: 2rem 2rem;
}

#quote-style {
    font-weight: 700;
    font-style: italic;
    margin: 10px 0;
}

/* Return to Earth Section */
#return-to-earth {
    margin: 2rem 2rem;
}

/* Thank you Section */
#mission-control-image {
    width: 300px;
    height: 150px;
}

/* Footer */
footer {
    background-color: black;
}

footer>p {
    font-size: 60%;
    text-align: center;
    margin: 0.5rem 1rem 1rem;
    font-weight: 100;
}

#social-networks {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 1rem;
    
}

#social-networks i {
    color: #eee3e3;
    font-size: 150%;
}

#nasa-insignia {
    width: 30px;
    height: 25px;
}



/* Media Query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
    }

    #logo {
        font-size: 280%;
        line-height: 50px;
        padding: 0 0.5rem;
    }

    #insignia-header {
        width: 40px;
        height: 40px;
        margin-top: 1rem;
    }
    
    #menu {
        display: flex;
        justify-content: flex-end;
    }

    #menu li {
        margin-left: 1rem;
        font-size: 90%;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main Content */
    /* Push main content down to accomodate the larger header */
    main {
        margin-top: 77px;
    }
}

/* Media Query: Laptops and Larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Header */
    /* Navbar hover styles*/
    nav a:hover {
        border-bottom: 1px solid #eee3e3;
    }

    /* Main Content */

    /* Introduction Section */
    #introduction>p {
        font-size: 100%;
        max-width: 600px;
    }

    /* Footer */
    footer p {
        font-size: 80%;
        font-weight: 200;
    }
}

/* Media Query: Desktops and larger (1200px and up) */

/* Main Content */

/* Introduction Section */
@media screen and (min-width: 1200px) {

}