/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100;300&display=swap');

/* overrides default styles set by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    font-family: 'roboto', sans-serif;
}

/* Header */
header {
    background-color: lightblue;
}

/* Main Content */
main {
    background-color: lightcoral;
    /* takes up surplus space and pushes footer to bottom of page */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightgreen;
}